header {
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: transparent;
   display: flex;
   align-items: center;
   z-index: 2;
}

nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   margin: 0 0 0 1.5vw;
   font-size: 1vw;
}
.pc-nav a{
  color: white;
  font-family: 'FontleroyBrown';
  font-size: 2vw;
}
.pc-nav{
  float: right;
}