body{
  background-color: ivory;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.activityTop{
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(../imgs/elly181027003.jpg);
  background-color: rgba(128, 128, 128, 0.6);
  background-blend-mode: soft-light;
  position: relative;
  font-family: "FontleroyBrown";
  font-weight: 300;
  text-align: center;
  color: rgb(87, 138, 61);
  text-shadow: 2px 3px 3px whitesmoke;
}

.aboutActiviry{
  position: absolute;
  width: auto;
  bottom:3.5%;
  left: 25%;
}

.aos-all {
  width: 100%;
  max-width: 95%;
  margin: 1% auto 0 auto;
}

.aos-item {
  display: inline-block;
  float: left;
  width: 33%;
  height: auto;
  padding: 2%;
}

.aos-item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  line-height: auto;
  text-align: center;
  background-color: aliceblue;
}
.card-text{
  height: auto;
}

.card{
  height: 65vh;
  position: relative;
}

.btn-outline-info{
  position: absolute;
  bottom: 3%;
  left: 35%;
}

@media screen and (max-width: 1440px) {
  .card{
  height: 70vh;
  position: relative;
  }
  .btn-outline-info{
  position: absolute;
  bottom: 3%;
  left: 32%;
  }
}
@media screen and (max-width: 800px) {
  .aos-item {
    width: 50%;
  }  
  .card{
  height: 90vh;
  position: relative;
  }
  .btn-outline-info{
  position: absolute;
  bottom: 3%;
  left: 18%;
  }
}
@media screen and (max-width: 660px){
  .card{
  height: 110vh;
  position: relative;
  }
}